@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
:root {
  --theme-color: white;
  --primary-color: white;
  --secundary-color: red;
  --text-color: black;
  --text-color-inverted: white;
  --menu-mobile-background-color: grey;
  font-size: 62.5%;
}
body {
  font-family: "montserrat", "sans-serif";
  font-size: 1.6rem;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 80px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/* header */
.main__header {
  box-shadow: 0 2px 5px black;
  background-color: var(--theme-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  max-width: 1220px;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.menu li {
  padding: 0 15px;
}
.menu a {
  color: var(--text-color);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: "";
  background-color: var(--secundary-color);
  position: absolute;
  left: 0;
  top: calc(100% + 3px);
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: opacity 0.3s;
}
.menu a:hover::after {
  opacity: 0.8;
}
.menu a:hover {
  color: var(--secundary-color);
}
.open__menu,
.close__menu {
  display: none;
}
/* /nav */

/* media */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu li {
    padding: 0;
    pointer-events: none;
  }
  .menu a {
    color: var(--text-color-inverted);
    line-height: 60px;
  }
  .open__menu,
  .close__menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  .close__menu {
    align-self: flex-end;
    margin: 10px 10px;
  }
  .menu__opened {
    opacity: 1;
    pointer-events: all;
  }
  .open__menu:focus:not(:focus-visible),
  .close__menu:focus:not(:focus-visible) {
    outline: none;
  }

  .menu a::after {
    content: none;
  }
  .menu a:hover,
  .menu a.selected {
    color: var(--secundary-color);
  }
}
/* /media */

/* /header */

/* index */

/* hero */
.hero {
  text-align: center;
  background-image: url("../imagenes/background.jpg");
  height: 100vh;
  width: 100%;
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--secundary-color);
  text-align: center;
  text-shadow: 2px 2px 10px var(--text-color);
  margin: 0;
}

.description {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
}

.primary__btn {
  background-color: var(--secundary-color);
  color: var(--text-color-inverted);
  border: none;
  font-size: 30px;
  padding: 0.3em 0.7em;
  border-radius: 10px;
  cursor: pointer;
}

.nosotros__btn:hover {
  filter: brightness(150%);
}

.section{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.section__content{
  padding: 10px;
}

.section__title {
  color: var(--secundary-color);
  margin: 2rem 0 1rem 0;
  font: normal 500;
}

#r1m {
  background-image: url(../imagenes/YamahaR1M.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#r1m h2 {
  font-size: 80px;
  color: var(--secundary-color);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  padding-bottom: 15px;
}

.banner {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.hubicanos{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 20px;
}

.map{
  display: flex;
margin: 0 auto;
padding-bottom: 50px;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 6rem;
  }

  .description {
    font-size: 2rem;
    max-width: 700px;
    margin: 30px auto;
  }
}

/* /hero */

/* /index */

/* marcas */

.marcas {
  display: flex;
  flex-direction: column;
}

.marcas__body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.marcas__title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.marcas__grid {
  text-align: center;
}

.marca {
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

.marca__name {
  font-weight: bold;
  color: var(--text-color);
  padding: 0 0 30px;
}

.marca__img {
  height: 300px;
  width: 300px;
}

@media (min-width: 768px) {
  .marcas {
    display: flex;
    flex-direction: column;
  }

  .marcas__body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  .marcas__title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
  }

  .marcas__grid {
    text-align: center;
  }

  .marca {
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
  }

  .marca__name {
    font-weight: bold;
    color: var(--text-color);
  }

  .marca__img {
    height: 300px;
    width: 300px;
  }

  .marcas__grid {
    display: grid;
    grid-template-columns: auto 2px auto;
  }

  .line {
    background-color: var(--text-color);
  }

  .marca__description {
    margin: auto;
  }
}

/* /marcas */

/* footer */

.footer {
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 -2px 5px black;
}

.footer__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 30px 0px;
}

.footer__contenedor h3 {
  font-weight: lighter;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 60px;
  width: 60px;
}
.logo h3 {
  margin: 0;
  color: var(--text-color);
}

/* /footer */
